{
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #FFE4E1 url("https://github.com/piupii/portfolio/blob/master/images/kuuset2.jpg?raw=true") repeat-x;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: #ffffff;
}


nav {
    float: left;
    width: 20%;
    background-color: #f2f2f2;
    padding: 20px;
}

nav ul {
    list-style-type: square;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f2f2f2;
}

table {
    width:100%;
}
table, th, td {
    border: 1px solid #000000;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #FFE4E1;
}
table#t01 tr:nth-child(odd) {
   background-color: #FFF5EE;
}
table#t01 th {
    background-color: #000000;
    color: #ffffff;
}




.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}




footer {
    background: #FFE4E1 url("https://github.com/piupii/portfolio/blob/master/images/kuuset2.jpg?raw=true") repeat-x;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    position: relative; 
    width: 100%;
    height: auto;
    clear: both;
}

@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}
