{
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #FFE4E1 url("https://github.com/piupii/portfolio/blob/master/images/kuuset2.jpg?raw=true") repeat-x;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: #ffffff;
}

nav {
    float: left;
    width: 20%;
    background-color: #f2f2f2;
    padding: 20px;
}

nav ul {
    list-style-type: square;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f2f2f2;
}

table {
    width:100%;
}
table, th, td {
    border: 1px solid #000000;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #FFE4E1;
}
table#t01 tr:nth-child(odd) {
   background-color: #FFF5EE;
}
table#t01 th {
    background-color: #000000;
    color: #ffffff;
}

footer {
    background: #FFE4E1 url("https://github.com/piupii/portfolio/blob/master/images/kuuset2.jpg?raw=true") repeat-x;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: #ffffff;
}

@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}
